/* Basic Element Style */

.keyword {
    color: black;
}

.white-space {
    white-space: pre;
}

.statement,
.declaration {
    display: flex;
}

.expression > div:not(.white-space) {
    display: inline-flex;
}

.import-specifier {
    display: flex;
}

.import-namespace-specifier {
    display: flex;
}

.catch-clause {
    display: flex;
}

.variable-declarator {
    display: flex;
}

.class-body {
    display: flex;
}

.method-definition {
    display: flex;
}

.switch-case .test {
    display: flex;
}

/* Pair */

.pair {
    align-items: baseline;
}

/* Collapse/Uncollapse */

.collapsed {
    background: rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.25);
    border-radius: 2px;
    cursor: pointer;
    padding: 4px;
}

/* Collapse/Uncollapse - Hover Transition */

.collapsed, .block {
    transition: all .15s;
}

.pair.left,
.pair.right {
    transition: all .15s;
}

.pair.left.hover,
.pair.right.hover,
.collapsed:hover {
    color: white;
    background: #ff8888;
}

.pair.left,
.pair.right {
    cursor: pointer;
}

/* Horizontal/Vertical Layout */

.block {
    display: flex;
    border-radius: 4px;
    background: rgba(162, 162, 162, 0.05);
    vertical-align: top;
    padding: 1em;
}

.block.horizontal {
    flex-direction: row;
}

.block.vertical {
    flex-direction: column;
}

.block > .block-element {
    display: flex;
}

.array.expression {
    align-items: baseline;
}

.toggle-layout {
    cursor: pointer;
    transition: all .15s;
}

.toggle-layout:hover {
    color: #ff8888;
}

/* Color Theme */

.lambda-view {
    background: #2D2D2D;
    font-family: Menlo,Monaco,Consolas,"Andale Mono","lucida console","Courier New","Microsoft YaHei",monospace;
    color: #CCCCCC;
    padding: 1em;

    /* Vertical Rhythms */
    font-size: 16px;
    line-height: 24px;
}

.keyword {
    color: #CC99CC;
}

.identifier {
    color: #F2777A;
}

.literal {
    color: rgb(153,204,153);
}

/* Color Theme - Hover Transition */

.keyword,
.literal,
.identifier {
    transition: all .15s;
}

.keyword:hover,
.literal:hover,
.identifier:hover {
    background: #515151;
}
